<h1>Add Event</h1>

@*<form method="post">
        <label for="name">Event Name:</label>
        <input name="name" type="text" />
        <label for="description">Description:</label>
        <input name="description" type="text" />
        <input type="submit" value="Add Event" />
    </form>*@

<form method="post">
    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" name="name"/>
    </div>
    <div class="form-group">
        <label for="description">Description</label>
        <input name="description" />
    </div>
    <input type="submit" value="Add Event" />
</form>